<div class="container">
	<div class="jumbotron">
		<h1>SAP </h1>
		<h2>Login Adminstrativo</h2>
	</div>
</div>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-4">
			<div class="card">
				<form class="form-inline">
					<div>
						<input class="form-control" type="email" (input)="onGetEmail($event)" placeholder="E-mail"/>
						<input class="form-control" type="password" (input)="onGetPassword($event)"  placeholder="Senha"/>
						<input  class="form-control" type="button" value="Login" (click)="makeLogin()"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
